<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/style.css">
  <title>task list </title>
</head>
<body>
 <%- include('navbar') %>
 <div class="container">
 <h1 class="mango">task list</h1>
 <form action="multi-delete" method="post">
  <button class="delete-selected-task">delete selected task</button>
 <ul class="task-list">
<% for(let task=0; task<result.length; task++){%>
  <li class="task-item">
<div class="task-title">
   <%= result[task].title %> 
</div>
<div class="task-description">
  <%= result[task].description %> 
</div >
<input class="check" type="checkbox" name="selectedTask" value="<%= result[task]._id %>" id="">
  <a href="/delete/<%= result[task]._id %> " class="task-delete">delete</a>
  <a href="/update/<%= result[task]._id %> " class="task-update">update</a>
  </li>
<%} %>
 </ul>
 </form>
 </div>
</body>
</html>